
[submodule "Dependices/GoXlrKit"]
	path = Dependices/GoXlrKit
	url = https://github.com/Adelenade/GoXlrKit
[submodule "Dependices/GoXLR-Utility"]
	path = Dependices/GoXLR-Utility
	url = https://github.com/GoXLR-on-Linux/GoXLR-Utility/
