<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>GoXLR Mic Profile</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>fr.adesky.goxlr.micProfile</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>GoXLR FX Preset</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>fr.adesky.goxlr.fxPreset</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>GoXLR Profile</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>fr.adesky.goxlr.profile</string>
			</array>
		</dict>
	</array>
	<key>SUEnableDownloaderService</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://adelenade.github.io/GoXlr-Macos/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>XwHe5LA4BVCU+ApyIRFa53drqUKB5yYd+tfYLUQQCio=</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.zip-archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GoXLR Profile</string>
			<key>UTTypeIconFile</key>
			<string>AppIcon.icon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>AppIcon.icon</string>
				<key>UTTypeIconText</key>
				<string>Profile</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>fr.adesky.goxlr.profile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>goxlr</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>goxlr</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GoXLR Mic Profile</string>
			<key>UTTypeIconFile</key>
			<string>AppIcon.icon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>AppIcon.icon</string>
				<key>UTTypeIconText</key>
				<string>Mic Profile</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>fr.adesky.goxlr.micProfile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>goxlrMicProfile</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>goxlrMicProfile</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GoXLR FX Preset</string>
			<key>UTTypeIconFile</key>
			<string>AppIcon.icon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string></string>
				<key>UTTypeIconBadgeName</key>
				<string>AppIcon.icon</string>
				<key>UTTypeIconText</key>
				<string>FX Preset</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>fr.adesky.goxlr.fxPreset</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>preset</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>preset</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
